/* basic-sidebar */ 

vbox#ad-panel-box { 
   background-color: #1E90FF; 
}

vbox#ad-info-box { 
   background-color: #1E90FF; 
}

vbox#ad-panel-box-top { 
   background-color: #1E90FF; 
}

label#ad_statistics {

    font-size: 18px; 
    color: white;
     
}

label#ad_listings {
    font-size: 18px; 
    color: white;
     

}

button#rd {
  background-color: red;
  color: white;
}



/*most basic overlay */ 

toolbar#most-basic-toolbox {
   background-color: #1E90FF; 

}
